.fast-morph {
  display: block;
  position: relative;
  text-align: center;
}

[slot] {
  will-change: opacity;
  transition: opacity 300ms cubic-bezier(0.19, 1, 0.22, 1);;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.will-transform {
  will-change: transform;
  transform-origin: left top 0px;
  transition: transform 900ms cubic-bezier(0.86, 0, 0.07, 1);
}
