.fast-morph {
}

[slot] {
  will-change: opacity;
  transition:  opacity 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.will-transform {
  will-change: transform;
  transform-origin: left top 0px;
  transition:  transform 900ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
