.fast-morph {
}

[slot] {
  will-change: opacity;
  transition: opacity  300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.will-transform {
  will-change: transform;
  transform-origin: left top 0px;
  transition:  transform 900ms cubic-bezier(0.19, 1, 0.22, 1);
}
