.app-home {
  padding: 10px;
}

.slot1-container {
  width: 384px;
  margin: 0 auto;
}

.image-quad {
  color: white;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}

.image-quad img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.9);
}

.image-quad .city {
  position: absolute;
  top: 16px;
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.image-quad .author {
  font-size: 12px;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.image-quad .coordinates {
  font-size: 12px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.info {
  padding: 32px;
  padding-top: 128px;
  background: white;
  margin-top: -96px;
  border-radius: 4px;
  color: rgba(0,0,0,0.8);
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profiles {
  padding: 32px;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding-left: 8px;
}

.profiles img {
  width: 32px;
  height: 32px;
  float: left;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.slot2-container {
  width: 640px;
  margin: 0 auto;
}

.image-quad2 {
  color: white;
  height: 320px;
  margin: 0 auto;
  position: relative;
}

.image-quad2 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.image-quad2 .city {
  position: absolute;
  bottom: 16px;
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.image-quad2 .author {
  font-size: 12px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.image-quad2 .coordinates {
  font-size: 12px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.info2 {
  width: 100%;
  padding: 32px 0;
  background: white;
  border-radius: 4px;
  color: rgba(0,0,0,0.8);
  font-size: 12px;
}

.info2-inner {
  padding: 0 32px;
}

.profile {
  display: flex;
  padding: 8px 0;
}

.profiles2 img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profiles2 .name {
  display: flex;
  margin-left: 16px;
  margin-top: 18px;
  vertical-align: middle;
}
