.example-text {
  text-align: center;
  position: relative;

  .old-mario {
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: translateY(-50%);

    .mario {
      width: 76px;
      display: inline-block;
      border-radius: 50%;
      background: lightgray;
      overflow: hidden;
      padding: 16px;
      transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      &:active {
        transform: scale(.8);
      }

      img {
        width: 60px;
        object-fit: cover;
      }
    }

    .date {
      display: inline-block;
      font-size: 14px;
      color: rgba(#000, 0.6);
    }
  }

  .new-mario {

    .top {
      position: relative;

      .mario {
        width: 100px;
        object-fit: cover;
      }

      .name {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: -1;
        transform: translateY(-50%);
        font-size: 38px;
        font-weight: bold;
      }
    }

    .date {
      display: inline-block;
      font-size: 22px;
      font-weight: bold;
      color: rgba(#000, 0.8);
    }

    .back {
      display: inline-block;
      margin-top: 8px;
      padding: 2px 16px;
      border-radius: 4px;
      color: white;
      background: #F22613;
      transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      &:active {
        transform: scale(.8);
      }
    }
  }
}
